<!DOCTYPE html>

<html lang="en">
<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="body">
<div class="not-found">
    {{message}}
</div>
</div>
</body>
</html>
