<!DOCTYPE html>

<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
{{>header}}
<div class="body">
    <img class="about-image" src="/img/homer.jpg">
    <p>Created by {{name}}</p>
</div>
{{>footer}}
</body>
</html>
